{% extends "base.html"%}

{% block title %}Create an Account{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

   <form method="POST" class="form-group">
   {% csrf_token %}
   {{ form|crispy }}
   <button type="submit" > Register </button>
   <br></br>
   </form>
<!-- here we add reset pass button and login link -->
   <from>
      <button  class="btn bt-success"> Reset Password </button>
      <body>
        <p>Already have an Account?</p>
        <a href='/login' class ="btn btn-primary"> Login </a>
      </body>
   </from>
{% endblock %}
